# First Example: Final Scores

Since we have nicely formatted GameOver events and team names, figuring out final scores of games is a breeze.

First, we get all of our team/year output in to a single Pandas data frame.

In [1]:
import pandas as pd
import glob
audl = pd.concat([pd.read_csv(dfteam, index_col=0) for dfteam in glob.glob('../output/*.csv')])

Then, we should familiarize ourselves with the column names.

In [2]:
audl.columns

Index(['Date/Time', 'Opponent', 'Point Elapsed Seconds', 'Line',
       'Our Score - End of Point', 'Their Score - End of Point', 'Event Type',
       'Action', 'Passer', 'Receiver', 'Defender', 'Hang Time (secs)',
       'Player 0', 'Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5',
       'Player 6', 'Player 7', 'Player 8', 'Player 9', 'Player 10',
       'Player 11', 'Player 12', 'Player 13', 'Player 14', 'Player 15',
       'Player 16', 'Player 17', 'Player 18', 'Player 19', 'Player 20',
       'Player 21', 'Player 22', 'Player 23', 'Player 24', 'Player 25',
       'Player 26', 'Player 27', 'Elapsed Time (secs)', 'Begin Area',
       'Begin X', 'Begin Y', 'End Area', 'End X', 'End Y',
       'Distance Unit of Measure', 'Absolute Distance', 'Lateral Distance',
       'Toward Our Goal Distance', 'Teamname', 'Tournament'],
      dtype='object')

Now we are ready to look at some games.

## Tie Games

Some AUDL games have - oddly enough - ended in a tie. Let's look for those.

In [3]:
tie_games = audl[(audl.Action=='GameOver')&(audl['Our Score - End of Point']==audl['Their Score - End of Point'])]
display_columns = ['Teamname','Opponent','Date/Time','Our Score - End of Point','Their Score - End of Point']

tie_games[display_columns].sort_values('Date/Time')

,Teamname,Opponent,Date/Time,Our Score - End of Point,Their Score - End of Point
1648,Minnesota Wind Chill,Chicago Wildfire,2015-05-16 19:07,12,12
1695,Chicago Wildfire,Minnesota Wind Chill,2015-05-20 12:45,12,12
2228,Chicago Wildfire,Minnesota Wind Chill,2016-05-14 19:03,15,15
1065,DC Breeze,Philadelphia Phoenix,2018-04-28 18:44,18,18
1056,Philadelphia Phoenix,DC Breeze,2018-04-28 18:44,18,18

Ok! So it looks like we found five final scores for three games that ended in ties. Welcome to the world of imperfectly entered data.

The three games should have resulted in six entries (one for each team that played in those three games). Did Minnesota forget to enter their 15-15 tie from 2016?

In [4]:
windchill_v_chi_2016 = audl[(audl.Teamname=='Minnesota Wind Chill')&(audl.Tournament=='AUDL 2016')&(audl.Opponent=='Chicago Wildfire')]
windchill_v_chi_2016['Date/Time'].unique()

array(['2016-04-10 13:04', '2016-04-16 19:03', '2016-05-14 19:09'], dtype=object)

Hmmm... Minnesota has three logged games against Chicago in 2016 and has an entry for 2018-05-14. What was the final score reported then?

In [5]:
windchill_v_chi_2016[windchill_v_chi_2016.Action=='GameOver'][display_columns]

,Teamname,Opponent,Date/Time,Our Score - End of Point,Their Score - End of Point
636,Minnesota Wind Chill,Chicago Wildfire,2016-04-10 13:04,17,11
1022,Minnesota Wind Chill,Chicago Wildfire,2016-04-16 19:03,22,21
2612,Minnesota Wind Chill,Chicago Wildfire,2016-05-14 19:09,26,23

26-23 Minnesota! That's not a tie at all. A quick check on theaudl.com confirms that score. 

My point is not to discourage the use of this data set, but to encourage a scrutinizing eye. If something looks off, there's probably some data entry error to overcome.

## Overtime Games

While we're at it, let's look at overtime games by finding games that have the `EndOfFourthQuarter` action.

In [6]:
overtimes = audl[(audl.Action=='EndOfFourthQuarter')]
overtimes[display_columns].sort_values('Date/Time')

,Teamname,Opponent,Date/Time,Our Score - End of Point,Their Score - End of Point
1924,Indianapolis AlleyCats,Chicago Wildfire,2014-05-09 19:58,17,17
3064,Minnesota Wind Chill,Cincinnati Revolution,2014-05-24 19:28,23,23
2251,Cincinnati Revolution,Minnesota Wind Chill,2014-05-24 20:26,23,23
4788,New York Empire,DC Breeze,2014-07-12 19:31,12,12
4913,DC Breeze,New York Empire,2014-07-12 22:30,12,12
353,San Francisco FlameThrowers,Vancouver Riptide,2015-04-11 18:21,23,23
348,Vancouver Riptide,San Francisco FlameThrowers,2015-04-11 18:28,23,23
680,Charlotte Express,Jacksonville Cannons,2015-04-19 12:23,19,19
792,Jacksonville Cannons,Charlotte Express,2015-04-19 12:58,19,19
1324,DC Breeze,Philadelphia Phoenix,2015-05-09 17:27,27,27
2211,Atlanta Hustle,Raleigh Flyers,2015-05-09 17:49,26,26
1360,Raleigh Flyers,Atlanta Hustle,2015-05-09 18:16,26,26
1715,Raleigh Flyers,Nashville NightWatch,2015-05-10 14:08,20,20
1942,Nashville NightWatch,Raleigh Flyers,2015-05-10 14:09,20,20
1788,Los Angeles Aviators,Vancouver Riptide,2015-05-16 18:00,22,22
2169,Vancouver Riptide,Los Angeles Aviators,2015-05-16 18:04,22,22
1694,Chicago Wildfire,Minnesota Wind Chill,2015-05-20 12:45,12,12
4340,San Jose Spiders,Seattle Cascades,2015-06-14 12:37,23,23
3692,Jacksonville Cannons,Raleigh Flyers,2015-06-14 15:04,25,25
3619,Raleigh Flyers,Jacksonville Cannons,2015-06-14 15:05,25,25
3491,Montreal Royal,Rochester Dragons,2015-06-21 10:17,21,21
2962,Rochester Dragons,Montreal Royal,2015-06-21 11:02,21,21
4051,San Francisco FlameThrowers,Seattle Cascades,2015-06-21 12:18,21,21
3120,Seattle Cascades,San Francisco FlameThrowers,2015-06-21 13:18,21,21
4690,Chicago Wildfire,Pittsburgh Thunderbirds,2015-06-28 13:29,25,25
3971,Pittsburgh Thunderbirds,Chicago Wildfire,2015-06-28 14:29,25,25
5559,Pittsburgh Thunderbirds,Chicago Wildfire,2015-07-25 13:08,21,21
5169,Raleigh Flyers,Jacksonville Cannons,2015-07-25 19:22,23,23
5212,Raleigh Flyers,Jacksonville Cannons,2015-07-25 19:22,27,27
5163,Jacksonville Cannons,Raleigh Flyers,2015-07-25 19:27,23,23
...,...,...,...,...,...
3960,Austin Sol,Atlanta Hustle,2017-06-25 12:08,22,22
4498,Atlanta Hustle,Austin Sol,2017-06-25 16:01,22,22
4648,Minnesota Wind Chill,Indianapolis AlleyCats,2017-07-14 17:27,24,24
3812,Indianapolis AlleyCats,Minnesota Wind Chill,2017-07-14 18:38,24,24
5628,San Jose Spiders,Los Angeles Aviators,2017-07-22 19:05,20,20
6736,Los Angeles Aviators,San Jose Spiders,2017-07-22 19:05,20,20
4939,Madison Radicals,Indianapolis AlleyCats,2017-07-23 12:03,20,20
4536,Indianapolis AlleyCats,Madison Radicals,2017-07-23 12:04,20,20
790,Minnesota Wind Chill,Chicago Wildfire,2018-04-21 15:59,22,22
827,Minnesota Wind Chill,Chicago Wildfire,2018-04-21 15:59,23,23
667,Chicago Wildfire,Minnesota Wind Chill,2018-04-21 17:10,22,22
1017,Dallas Roughnecks,Austin Sol,2018-04-22 12:58,21,21
671,Austin Sol,Dallas Roughnecks,2018-04-22 13:00,21,21
1073,Austin Sol,Raleigh Flyers,2018-04-27 19:15,21,21
1696,Raleigh Flyers,Austin Sol,2018-04-27 19:15,21,21
1525,San Diego Growlers,San Jose Spiders,2018-04-27 19:29,17,17
1422,San Jose Spiders,San Diego Growlers,2018-04-27 19:30,17,17
982,Ottawa Outlaws,Montreal Royal,2018-04-28 14:36,30,30
1055,Philadelphia Phoenix,DC Breeze,2018-04-28 18:44,18,18
1064,DC Breeze,Philadelphia Phoenix,2018-04-28 18:44,18,18
2911,San Francisco FlameThrowers,San Diego Growlers,2018-06-02 18:23,22,22
3439,San Diego Growlers,San Francisco FlameThrowers,2018-06-02 18:33,22,22
2878,Ottawa Outlaws,Montreal Royal,2018-06-08 19:35,24,24
3681,DC Breeze,Toronto Rush,2018-06-09 18:31,22,22
2924,Toronto Rush,DC Breeze,2018-06-09 18:33,22,22
3952,Pittsburgh Thunderbirds,Minnesota Wind Chill,2018-06-23 18:11,25,25
4007,Minnesota Wind Chill,Pittsburgh Thunderbirds,2018-06-23 18:12,25,25
3116,Nashville NightWatch,Austin Sol,2018-06-23 19:00,21,21
3161,Nashville NightWatch,Austin Sol,2018-06-23 19:00,23,23
4080,Austin Sol,Nashville NightWatch,2018-06-23 19:10,21,21

This shows us 102 entries and, naively, you would say that means 51 overtime games. But a scrutinizing look reveals there are some games are missing entries from one of the teams.

The best way to get a count is to find the unique combinations of team pairs and dates. Again, imperfect data entry foils our plans. You see, not every team enters data as the game unfolds. Some wait until they have the game footage. Since the ultianalytics app does not have the ability for you to set a custom date, data entered by watching film can have a different date.

Furthermore, the `EndOfFourthQuarter` is also used to end the first overtime! That explains the double entries.

We have to be clever and make some assumptions. Let's assume that overtime games were all entered on the same day from both teams. That way, we can find the unique set of matchups and dates.

In [7]:
overtimes = overtimes.sort_values('Date/Time')

ot_list = [] # list of matchups and dates
for i, row in overtimes.iterrows():
    matchup = tuple(sorted( (row['Teamname'],row['Opponent']) ))
    date = pd.to_datetime(row['Date/Time']).strftime('%Y-%m-%d') # convert to datetime and remove hour-min-sec info
    ot_list.append( (matchup,date )  )

len(ot_list),len(set( tuple(ot_list)) )

(102, 55)

It appears that 55 unique matchups exist. To find the number of overtime games that were logged with `EndOfFourthQuarter` by only one of the teams. Use this formula and solve for $y$. 

$x\times2 +y = 102$

$x+y = 55$

In our case, $y=8$. It's possible these games are missing the `EndOfFourthQuarter`. More strangeness to explore, but that's for another time!

In [8]:
set( tuple(ot_list))

{(('Atlanta Hustle', 'Austin Sol'), '2016-05-15'),
 (('Atlanta Hustle', 'Austin Sol'), '2016-06-18'),
 (('Atlanta Hustle', 'Austin Sol'), '2017-06-25'),
 (('Atlanta Hustle', 'Nashville NightWatch'), '2016-04-17'),
 (('Atlanta Hustle', 'Raleigh Flyers'), '2015-05-09'),
 (('Austin Sol', 'Dallas Roughnecks'), '2018-04-22'),
 (('Austin Sol', 'Jacksonville Cannons'), '2016-06-25'),
 (('Austin Sol', 'Nashville NightWatch'), '2018-06-23'),
 (('Austin Sol', 'Raleigh Flyers'), '2018-04-27'),
 (('Charlotte Express', 'Jacksonville Cannons'), '2015-04-19'),
 (('Charlotte Express', 'Jacksonville Cannons'), '2016-06-18'),
 (('Chicago Wildfire', 'Cincinnati Revolution'), '2016-06-18'),
 (('Chicago Wildfire', 'Indianapolis AlleyCats'), '2014-05-09'),
 (('Chicago Wildfire', 'Minnesota Wind Chill'), '2015-05-20'),
 (('Chicago Wildfire', 'Minnesota Wind Chill'), '2016-04-16'),
 (('Chicago Wildfire', 'Minnesota Wind Chill'), '2018-04-21'),
 (('Chicago Wildfire', 'Pittsburgh Thunderbirds'), '2015-06-28'),
 (('Chicago Wildfire', 'Pittsburgh Thunderbirds'), '2015-07-25'),
 (('Cincinnati Revolution', 'Minnesota Wind Chill'), '2014-05-24'),
 (('DC Breeze', 'New York Empire'), '2014-07-12'),
 (('DC Breeze', 'New York Empire'), '2016-05-07'),
 (('DC Breeze', 'New York Empire'), '2016-06-11'),
 (('DC Breeze', 'New York Empire'), '2017-06-04'),
 (('DC Breeze', 'Philadelphia Phoenix'), '2015-05-09'),
 (('DC Breeze', 'Philadelphia Phoenix'), '2018-04-28'),
 (('DC Breeze', 'Raleigh Flyers'), '2017-04-22'),
 (('DC Breeze', 'Toronto Rush'), '2016-04-23'),
 (('DC Breeze', 'Toronto Rush'), '2016-07-23'),
 (('DC Breeze', 'Toronto Rush'), '2018-06-09'),
 (('Detroit Mechanix', 'Minnesota Wind Chill'), '2016-06-10'),
 (('Indianapolis AlleyCats', 'Madison Radicals'), '2017-07-23'),
 (('Indianapolis AlleyCats', 'Minnesota Wind Chill'), '2017-07-14'),
 (('Jacksonville Cannons', 'Raleigh Flyers'), '2015-06-14'),
 (('Jacksonville Cannons', 'Raleigh Flyers'), '2015-07-25'),
 (('Jacksonville Cannons', 'Raleigh Flyers'), '2016-05-14'),
 (('Los Angeles Aviators', 'San Francisco FlameThrowers'), '2016-04-03'),
 (('Los Angeles Aviators', 'San Jose Spiders'), '2017-07-22'),
 (('Los Angeles Aviators', 'Vancouver Riptide'), '2015-05-16'),
 (('Madison Radicals', 'Minnesota Wind Chill'), '2017-06-10'),
 (('Minnesota Wind Chill', 'Pittsburgh Thunderbirds'), '2018-06-23'),
 (('Montreal Royal', 'Ottawa Outlaws'), '2018-04-28'),
 (('Montreal Royal', 'Ottawa Outlaws'), '2018-06-08'),
 (('Montreal Royal', 'Philadelphia Phoenix'), '2017-04-22'),
 (('Montreal Royal', 'Philadelphia Phoenix'), '2017-05-14'),
 (('Montreal Royal', 'Rochester Dragons'), '2015-06-21'),
 (('Nashville NightWatch', 'Raleigh Flyers'), '2015-05-10'),
 (('Nashville Nightwatch', 'Raleigh Flyers'), '2015-05-10'),
 (('New York Empire', 'Toronto Rush'), '2016-07-03'),
 (('San Diego Growlers', 'San Francisco FlameThrowers'), '2016-04-02'),
 (('San Diego Growlers', 'San Francisco FlameThrowers'), '2018-06-02'),
 (('San Diego Growlers', 'San Jose Spiders'), '2018-04-27'),
 (('San Diego Growlers', 'Vancouver Riptide'), '2017-05-13'),
 (('San Francisco FlameThrowers', 'Seattle Cascades'), '2015-06-21'),
 (('San Francisco FlameThrowers', 'Vancouver Riptide'), '2015-04-11'),
 (('San Jose Spiders', 'Seattle Cascades'), '2015-06-14')}