In [1]:
!export PYTHONPATH="/Users/fiorino/anaconda3/envs/ultimate/lib/python3.7/site-packages/"

from ultianalyticspull import pullers
from ultianalyticspull import huddlers

# Investigate the Pro Leagues

## PUL

In [2]:
pul_pull = pullers.LeaguePuller(league = 'pul', years=[2019])

In [3]:
pul_pull.pull()

2019 Atlanta Soul
2019 Austin Torch
2019 Columbus Pride
2019 Indy Red
2019 Medellin Revolution
2019 Nashville Nightshade
2019 New York Gridlock
2019 Raleigh Radiance

## AUDL

In [7]:
audl_pull = pullers.LeaguePuller(league = 'audl', years=range(2014,2020))

In [10]:
audl_pull.pull()

# Investigate your own team!

In [18]:
team_number='6305900843237376'
team_name='MSP'
year=2019
output_dir='./'
custom_pull = pullers.UltiAnalyticsPuller(team_number,team_name,year,output_dir)
custom_pull.pull()

In [19]:
custom_pull_df = custom_pull.get_enhanced_dataframe()

In [20]:
custom_pull_df[(custom_pull_df.Action=='Goal')].Passer.value_counts()[:5]

Tristan    23
Roske      19
Kens       10
Ruda        9
Brad        8
Name: Passer, dtype: int64

In [22]:
custom_pull_df[(custom_pull_df.Action=='Goal')].Receiver.value_counts()[:5]

Brad     16
Dani     11
Mo       10
Roske     9
EA        9
Name: Receiver, dtype: int64

In [24]:
custom_pull_df[(custom_pull_df.Action=='D')].Defender.value_counts()[:5]

Tristan    16
Tanner     10
Joe         8
Bo          7
Mo          6
Name: Defender, dtype: int64

In [25]:
custom_pull_df[custom_pull_df.Lineup.str.contains('EA')].groupby(['GameID','PointID']).ngroups

69

In [26]:
custom_pull_df[(custom_pull_df.Passer=='Tristan')&(custom_pull_df.Action=='Goal')].Receiver.value_counts()[:5]

Brad     6
Roske    3
Vandy    3
Bekah    3
Max      1
Name: Receiver, dtype: int64

## Compile aggregate stats with the Huddler

In [28]:
scoob = huddlers.Scoober(custom_pull.enhanced_export_file)

scoob.dataframe[scoob.slice(actions=['Goal'])].head(1)[scoob.dataframe.columns[:12]]

,Date/Time,Opponent,Point Elapsed Seconds,Line,Our Score - End of Point,Their Score - End of Point,Event Type,Action,Passer,Receiver,Defender,Hang Time (secs)
6,2019-06-22 08:52,Rust,150,D,1,0,Offense,Goal,Kens,Kelsey M,NaN,NaN

In [30]:
hudd = huddlers.Huddler(scoob)

In [31]:
hudd.huddle()

In [32]:
df = scoob.dataframe
df[(df.Passer=='EA')].Action.value_counts()

Catch           53
Throwaway        7
HockeyAssist     7
Goal             7
Drop             3
Name: Action, dtype: int64

In [34]:
hudd.player_stats_by_year[['Name','Throws','Completions','Throwaways','Assists',
                           'Completion Percentage','Throwaway Percentage','Drop Percentage']].sort_values('Throwaway Percentage')

hudd.player_stats_by_year[['Name','Catches','Goals','Assists','Hockey Assists','Drops']].iloc[:5]

       Name  Catches  Goals  Assists  Hockey Assists  Drops
0    Claire       36    1.0      1.0             3.0    1.0
1      Cole       55    9.0      7.0             9.0    2.0
2  Kelsey M       35    6.0      3.0             3.0    4.0
3  KelseyK3       35    1.0      2.0             7.0    1.0
4      Kens       55    1.0     10.0             3.0    1.0