In [212]:
import pandas as pd

import sys
sys.path.append('../../lib/')
import utils as au

In [231]:
audl = au.audl_data()
games = au.get_games().replace('Nashville Nightwatch','Nashville NightWatch').drop_duplicates(['Away Team', 'Away Team Score', 
                                                                                               'Date Location','Home Team', 
                                                                                               'Home Team Score', 'Matchup Link', 
                                                                                               'Year', 'Date', 'Time',
                                                                                               'City', 'Week'])
teams = au.get_teams()

In [232]:
audl['Date/Time'] = pd.to_datetime(audl['Date/Time'],format='%Y-%m-%d %H:%M')
games['Date'] = pd.to_datetime(games['Date'],format='%Y-%m-%d')

In [233]:
def check_name(df_in,home_away):
    if teams[teams.Teamname == df_in[f'{home_away} Team']].iloc[0].Inaugurated > df_in.Year:
#         print(df_in[f'{home_away} Team'],teams[teams.Teamname == df_in[f'{home_away} Team']].iloc[0].Inaugurated, df_in.Year)
        return teams[teams.Teamname == df_in[f'{home_away} Team']].iloc[0].Formerly
    return df_in[f'{home_away} Team']
games['Home Team'] = games.apply(check_name,home_away='Home', axis=1)
games['Away Team'] = games.apply(check_name,home_away='Away', axis=1)

In [234]:
foo = audl.groupby(['Year','Teamname','GameID']).apply(lambda x : x['Date/Time'].nunique()).reset_index()
foo[foo[0]>1] # hooray. Games only have 1 Date/Time

Empty DataFrame
Columns: [Year, Teamname, GameID, 0]
Index: []

In [235]:
def nearest(items, pivot):
    return min(items, key=lambda x: abs(x - pivot))

def closest_uni_game(df_in):
    teamname = df_in['Teamname'].unique()[0]
    opponent = df_in['Opponent'].unique()[0]
    dt = df_in['Date/Time'].dt.strftime('%Y-%m-%d').unique()[0]
    team_games = games[games['Away Team'].isin([teamname,opponent]) &
                       games['Home Team'].isin([teamname,opponent])].reset_index().copy()
    match = team_games.iloc[(team_games['Date'] - pd.to_datetime(dt)).abs().argsort()[0]]
    
    return pd.DataFrame( [{'UniversalGameID': match['UniversalGameID'] ,
                          'DaysOff':(team_games['Date'] - pd.to_datetime(dt)).abs().min()}])
    

unis = audl.groupby(['Year','Teamname','Opponent','GameID','Date/Time']).apply(closest_uni_game).reset_index()

In [236]:
unis = unis.drop('level_5',axis=1)

In [237]:
games[games.UniversalGameID==889]

,Unnamed: 0,Away Team,Away Team Score,Date Location,Home Team,Home Team Score,Matchup Link,Year,Date,Time,City,Week,UniversalGameID
889,889,Indianapolis AlleyCats,25,"Sat, 4/28 7:30 PM CDT Chicago",Chicago Wildfire,21,/league/game/2018-04-28-IND-CHI,2018,2018-04-28,7:30 PM CDT,Chicago,5,889

In [238]:
unis[unis['UniversalGameID'].apply(lambda x : len(unis[unis.UniversalGameID==x]))!=2].sort_values('UniversalGameID')

,Year,Teamname,Opponent,GameID,Date/Time,DaysOff,UniversalGameID
175,2014,San Francisco FlameThrowers,Salt Lake Lions,6,2014-05-10 17:42:00,21 days,181
161,2014,Salt Lake Lions,San Francisco FlameThrowers,3,2014-04-19 13:56:00,0 days,181
162,2014,Salt Lake Lions,San Francisco FlameThrowers,6,2014-05-10 17:45:00,21 days,181
174,2014,San Francisco FlameThrowers,Salt Lake Lions,2,2014-04-19 12:49:00,0 days,181
184,2014,San Francisco FlameThrowers,Seattle Raptors,5,2014-05-04 12:00:00,0 days,200
183,2014,San Francisco FlameThrowers,Seattle Raptors,3,2014-04-26 16:07:00,8 days,200
209,2014,Seattle Raptors,San Francisco FlameThrowers,2,2014-04-26 16:18:00,8 days,200
210,2014,Seattle Raptors,San Francisco FlameThrowers,4,2014-05-04 13:07:00,0 days,200
206,2014,Seattle Raptors,Salt Lake Lions,6,2014-05-18 11:53:00,0 days,218
45,2014,Detroit Mechanix,Chicago Wildfire,9,2014-05-31 18:10:00,0 days,228
244,2014,Vancouver Riptide,San Jose Spiders,8,2014-05-31 18:58:00,0 days,232
204,2014,San Jose Spiders,Vancouver Riptide,8,2014-05-31 18:57:00,0 days,232
203,2014,San Jose Spiders,Vancouver Riptide,5,2014-05-10 15:05:00,21 days,232
243,2014,Vancouver Riptide,San Jose Spiders,5,2014-05-10 15:05:00,21 days,232
124,2014,New York Empire,Montreal Royal,8,2014-06-07 19:07:00,0 days,237
123,2014,New York Empire,Montreal Royal,6,2014-05-25 16:07:00,13 days,237
107,2014,Montreal Royal,New York Empire,8,2014-06-07 19:00:00,0 days,237
106,2014,Montreal Royal,New York Empire,5,2014-05-25 16:00:00,13 days,237
46,2014,Detroit Mechanix,Chicago Wildfire,10,2014-06-07 17:22:00,0 days,240
5,2014,Chicago Wildfire,Detroit Mechanix,11,2014-06-07 16:07:00,0 days,240
4,2014,Chicago Wildfire,Detroit Mechanix,10,2014-06-04 10:54:00,3 days,240
176,2014,San Francisco FlameThrowers,Salt Lake Lions,11,2014-06-21 17:46:00,0 days,258
177,2014,San Francisco FlameThrowers,Salt Lake Lions,12,2014-06-22 10:53:00,0 days,263
164,2014,Salt Lake Lions,San Francisco FlameThrowers,12,2014-06-30 08:18:00,8 days,263
163,2014,Salt Lake Lions,San Francisco FlameThrowers,11,2014-06-23 19:54:00,1 days,263
202,2014,San Jose Spiders,Toronto Rush,17,2014-07-27 10:01:00,0 days,291
294,2015,Cincinnati Revolution,Detroit Mechanix,8,2015-05-23 18:04:00,42 days,295
322,2015,Detroit Mechanix,Cincinnati Revolution,6,2015-05-23 18:27:00,42 days,295
293,2015,Cincinnati Revolution,Detroit Mechanix,1,2015-04-11 20:05:00,0 days,295
321,2015,Detroit Mechanix,Cincinnati Revolution,1,2015-04-11 19:23:00,0 days,295
...,...,...,...,...,...,...,...
319,2015,Detroit Mechanix,Chicago Wildfire,11,2015-06-27 15:53:00,0 days,426
482,2015,Pittsburgh Thunderbirds,Chicago Wildfire,15,2015-07-25 13:08:00,0 days,472
990,2016,Vancouver Riptide,San Diego Growlers,3,2016-05-07 17:56:00,43 days,618
925,2016,San Diego Growlers,Vancouver Riptide,10,2016-06-19 13:09:00,0 days,618
924,2016,San Diego Growlers,Vancouver Riptide,7,2016-05-07 18:05:00,43 days,618
991,2016,Vancouver Riptide,San Diego Growlers,11,2016-06-19 13:01:00,0 days,618
774,2016,Los Angeles Aviators,Seattle Cascades,12,2016-06-26 14:00:00,0 days,634
775,2016,Los Angeles Aviators,Seattle Cascades,15,2016-07-16 19:36:00,0 days,659
957,2016,Seattle Cascades,Los Angeles Aviators,13,2016-07-07 20:33:00,9 days,659
958,2016,Seattle Cascades,Los Angeles Aviators,15,2016-07-16 19:35:00,0 days,659
794,2016,Madison Radicals,Seattle Cascades,16,2016-08-06 19:12:00,0 days,668
1010,2017,Atlanta Hustle,Nashville NightWatch,2,2017-04-15 18:11:00,0 days,684
1011,2017,Atlanta Hustle,Nashville NightWatch,5,2017-05-13 19:14:00,28 days,684
1181,2017,Nashville NightWatch,Atlanta Hustle,2,2017-04-15 18:10:00,0 days,684
1182,2017,Nashville NightWatch,Atlanta Hustle,7,2017-05-13 19:00:00,28 days,684
1277,2017,San Diego Growlers,Seattle Cascades,9,2017-06-04 14:00:00,0 days,762
1318,2017,Seattle Cascades,San Diego Growlers,14,2017-08-18 13:29:00,70 days,767
1317,2017,Seattle Cascades,San Diego Growlers,6,2017-06-09 19:03:00,0 days,767
1278,2017,San Diego Growlers,Seattle Cascades,10,2017-06-09 19:03:00,0 days,767
1679,2018,Tampa Bay Cannons,Nashville NightWatch,5,2018-04-28 19:04:00,0 days,888
1391,2018,Chicago Wildfire,Indianapolis AlleyCats,3,2018-04-28 07:30:00,0 days,889
1392,2018,Chicago Wildfire,Indianapolis AlleyCats,6,2018-05-26 17:10:00,28 days,889
1447,2018,Indianapolis AlleyCats,Chicago Wildfire,4,2018-04-28 19:39:00,0 days,889
1448,2018,Indianapolis AlleyCats,Chicago Wildfire,8,2018-05-26 18:51:00,28 days,889
1589,2018,Pittsburgh Thunderbirds,Detroit Mechanix,14,2018-07-14 17:59:00,0 days,1001
1537,2018,Nashville NightWatch,Tampa Bay Cannons,12,2018-07-13 22:34:00,1 days,1004
1538,2018,Nashville NightWatch,Tampa Bay Cannons,14,2018-10-01 17:26:00,79 days,1004
1681,2018,Tampa Bay Cannons,Nashville NightWatch,14,2018-07-14 19:05:00,0 days,1004
1742,2019,San Diego Growlers,Seattle Cascades,4,2019-04-26 19:06:00,0 days,1040
1730,2019,Ottawa Outlaws,Toronto Rush,1,2019-04-27 14:00:00,0 days,1041

In [239]:
games[((games.Date<'2019-05-01'))&(games.Date>'2014')&~games.UniversalGameID.isin(unis.UniversalGameID.unique())]

,Unnamed: 0,Away Team,Away Team Score,Date Location,Home Team,Home Team Score,Matchup Link,Year,Date,Time,City,Week,UniversalGameID
669,669,Seattle Cascades,27,"Sun, 8/7 12:00 PM CDT Dallas",Dallas Roughnecks,33,/league/game/2016-08-07-SEA-DAL,2016,2016-08-07,12:00 PM CDT,Dallas,19,669
842,842,Los Angeles Aviators,33,"Sat, 8/12 7:00 PM CDT San Jose",San Jose Spiders,24,/league/game/2017-08-12-LA-SJ,2017,2017-08-12,7:00 PM CDT,San Jose,20,843

In [242]:
games[games[['Away Team', 'Away Team Score', 'Date Location',
       'Home Team', 'Home Team Score', 'Matchup Link', 'Year', 'Date', 'Time',
       'City', 'Week']].duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Away Team, Away Team Score, Date Location, Home Team, Home Team Score, Matchup Link, Year, Date, Time, City, Week, UniversalGameID]
Index: []